<div id="nav-bar">
    <p> <%= name %></p>
    <ul>
        <a href="/new"><li>new</li></a>
        <a href="/archive"><li>archive</li></a>
        <a href="/tags"><li>tags</li></a>
        <li class="search">
            <form action="/search" method="POST"id="search-form">
                <input type="text" id="search-field" name="search" placeholder="search"><img src="./search.svg" height="20">
            </form>
        </li>
    </ul>
</div>