
<div id="content-flex">
       
    <%- include('./partials/header.ejs') %>
    
    <div id="center-box">
        <%- include('./partials/navbar.ejs') %>
        <div id="content-box">  
            <p>Welcome <%= name %></p>
        </div>

    </div>
</div>
