<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journal</title>
    <link rel="stylesheet" type="text/css" href="../styles/base.css">
    <link rel="stylesheet" type="text/css" href="../styles/input.css">
</head>
<body>
    <header><h1>Journal</h1>
        <div id="header-left">  <img src="/moon.svg" height=20 id="mode-icon" ><h3 id="quote"></h3>
    </header>     
    <div class="container">
        <%- body %>
    </div>

    
    <script src="../js/script.js"></script>
</body>
</html>
