
<div id="content-flex">
       
    <div id="header"><h1>new entry</h1>
        <a href="/users/logout" id="logout"><img src="./logout.svg" id="logout-icon" height=15" title="Log out"></a>
    </div>
        
    <div id="center-box">
        <%- include('./partials/navbar.ejs') %>
            <div id="compose">
                <form id="entry-form" action="/add" method="POST">
                    <div class="entry-form-input"><input type="text" id="title" name="title" placeholder="title"></div>
                    <div class="entry-form-input"><textarea id="entry" name="description" rows="12" cols="100" placeholder="entry"></textarea></div>
                    <div class="entry-form-input"><input type="text" id="tags" name="tags" placeholder="tags"></div>
                    <button type="submit">Save</button>
                </form>
            </div>
    </div>
</div>

  
