
<div id="content-flex">
    <%- include('./partials/header.ejs') %>
    <div id="center-box">
        <%- include('./partials/navbar.ejs') %>
            <div id="compose">
                <form id="entry-form" action="/add" method="POST">
                    <div class="entry-form-input"><input type="text" id="title" name="title" placeholder="title"></div>
                    <div class="entry-form-input"><textarea id="entry" name="description" rows="12" cols="100" placeholder="entry"></textarea></div>
                    <div class="entry-form-input"><input type="text" id="tags" name="tags" placeholder="tags"></div>
                    <button type="submit">Save</button>
                </form>
            </div>
    </div>
</div>

  
