
<div id="content-flex">
    <div id="header"><h1>tags</h1>
        <a href="/users/logout" id="logout"><img src="./logout.svg" id="logout-icon" height=15" title="Log out"></a>
    </div>
        
    <div id="center-box">
        <%- include('./partials/navbar.ejs') %>
        <div id="content-box">
            <ul class="tag-list">
            <% for (let i = 0; i < uniqueTags.length; i++) { %>
                     <li>
                         <!-- TO BE FIXED -->
                        <form method="post" action="/searchbytag" class="searchform">
                            <input type="hidden" name="tag" value="<%= uniqueTags[i] %>">
                            <button type="submit" class="link-button">
                                <%= uniqueTags[i] %>
                            </button>
                          </form>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>
