
<div id="content-flex">
    <%- include('./partials/header.ejs') %>
    <div id="center-box">
        <%- include('./partials/navbar.ejs') %>
        <div id="content-box">
            <div class="tag-list">
            <% for (let i = 0; i < uniqueTags.length; i++) { %>
                     <span>
                        <form method="post" action="/searchbytag" class="searchform">
                            <input type="hidden" name="tag" value="<%= uniqueTags[i] %>">
                            <button type="submit" class="link-button"><%= uniqueTags[i] %>
                            </button>
                          </form>
                    </span>
                <% } %>
            </div>
        </div>
    </div>
</div>
