@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=El+Messiri&family=Josefin+Slab:wght@100;200&display=swap');

body {
    background: rgb(230, 230, 230);
    font-family: 'Didact Gothic';
    margin: 0;
    box-sizing: border-box;
    background: url('/pexels-scott-webb-311458.jpg');
    background-position: right 35% bottom 45%;
    background-attachment: fixed;
    color: rgb(60,60,60)
}
header {
    margin: .2em auto;
    padding: .3em;
    width: 90%;
    text-align: center;
    font-weight: 100;
    text-align: right;
    letter-spacing: .7em;
    color: rgb(34, 34, 34);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

h1 {
    font-size: 2.4em;
    letter-spacing: .3em;
    margin-right: 3em;
    font-family: 'El Messiri';
}
#header-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}
#quote {
    font-family: 'Josefin Slab';
    font-size: 1em;
    letter-spacing: .3em;
}
a {
    text-decoration: none;
    color: rgb(34, 34, 34);
}

a:visited {
    color: rgb(83, 83, 83);

}

.container {
    margin: 1% auto;
    width: 55%;
    max-height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgba(230,230,230,.7);
    background: rgba(250, 250, 250, 0.7);
    color: rgb(46, 46, 46);
}

#content-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#header {
    margin: 15px;
    margin-bottom: 0;
    padding: 1.5em;
    font-size: .7em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid rgb(168, 168, 168);
    border-left: 1px solid rgb(168, 168, 168);

}

#header p {
    font-size: 1.7em;
}
#center-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

#nav-bar {
    width: 25%;
    max-height: 100%;
    margin: 15px;
    margin-top: 0;
    border-bottom: 1px solid rgb(168, 168, 168);
    border-left: 1px solid rgb(168, 168, 168);
    position: relative;
}
#nav-bar p {
    margin: 1em;
    font-family: 'El Messiri';
    font-size: 1.5em;
}

#content-box {
    width: 100%;
    margin: 1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 3em;
}

li {
    padding: .4em;
    background-color: rgb(223, 223, 223);
    margin: .5em;
    letter-spacing: .2em;
    transition: all .4s ease-in;
}

.link:hover {
    background-color: rgb(165, 165, 165);
    color: white;
}

#logout {
    background: rgb(168, 168, 168);
    color: white;
    font-size: 1em;
    height: 22px;
    padding: .6em;
    font-size: 1.5em;
}

#logout-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(220deg) brightness(104%) contrast(107%);
}

.entry-text {
    padding: 1em;
    margin: .2em;
    border-bottom: 1px grey solid
}

.date {
    text-align: right;
    margin: .9em 0;
}
.post-header {
    font-family: 'El Messiri';
    text-transform: uppercase;
    letter-spacing: .2em;
    margin: .5em;
}
.post {
    margin: .5em;
    padding: .8em .5em;
    line-height: 1.5em;
    letter-spacing: .03em;
    background: rgba(250, 250, 250, .8); 
    white-space: pre-wrap;
    color: rgb(30,30,30);
}

.tag {
    padding: .4em;
    font-size: .8em;
    margin-bottom: 1.5em;
    font-style: italic;
    margin-left: .3em;
    background: rgba(0, 0, 0,0);
}


.post-bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
.delete-edit {
    filter: invert(55%) sepia(1%) saturate(0%) hue-rotate(135deg) brightness(85%) contrast(94%);
    cursor: pointer;
    margin: .5em;
}

.welcome {
    margin: 7em 2.5em;
    color: rgb(180, 180, 180)!important;
    font-size: 1.4em;
    letter-spacing: .3em;
    padding: .5em;
    transition: all .4s ease-in-out;
}

.welcome:hover {
    background: rgb(233, 239, 240);
    color: rgb(99, 99, 99)!important;
}

.alert {
    padding: .6em;
    margin-bottom: .4em;
    color: white;
}
.warning {
    background-color: #ff7e47;
}
.success {
    background-color: #60c06d;
  }

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.6s;
}

.closebtn:hover {
    color: black;
    background: rgba(0,0,0,.0)
}

.darkmode {
    background: url('/pexels-luis-ruiz-991422.jpg');
    background-attachment: fixed;
}

.container-dark {
    background: rgba(20,20,20,.6);
    color: white
}

.post-dark {
    background: rgba(20,20,20, .7);
    color: white
}

.input-dark {
    background-color: rgba(0,0,0,.5);
    color: white!important
}

.tag-list {
    background: rgba(0,0,0,.0);
    margin-left: 2em;
    display: flex;
    width: 70%;
    height: auto;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tag-list span {
    margin: .35em;
}

